:root{
    --primary-color: #F07807;
    --secondary-color: #F7E5D8;
    --default-shadow: 0 4px 8px #0005;
    --default-padding: 0 80px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul, ol, li{
    list-style: none;
}

body{
    font-family: "Poppins", sans-serif;
    background-color: var(--secondary-color);
}

header{
    position: fixed;
    width: 100vw;
    height: 60px;
    top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--default-padding);
}

header menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-size: 1rem;
}

header li{
    padding: 4px 8px;
    transition: .5s;
}

header li:hover{
    background-color: var(--secondary-color);
    box-shadow: var(--default-shadow)
}

.login{
    height: 48px;
    width: 120px;
    border-radius: 12px;
    border: none;
    background-color: #fbddc1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F07807;
    gap: 8px;
    font-weight: bold;
    box-shadow: var(--default-shadow)
}

main{

}

section{
    height: 100vh;
    padding: var(--default-padding);
}

.home{
    background-color: var(--secondary-color);
    background-image: url(./img/background.svg);
    padding: var(--default-padding);
    background-repeat: no-repeat;
    background-position: top right;
}

.cardapio{
    background-color: plum;
    padding: var(--default-padding);
}

.servicos{
    background-color: lightblue;
    padding: var(--default-padding);
}

footer{
    background-color: rgb(129, 242, 123);
    height: 526px;
}